<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

  <% total_rating = 0%>
  <% @product.reviews.each do |review|%>
    <% total_rating += review.rating%>
  <%end%>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
          <dt>Overall rating</dt>
          <dd><%= total_rating %></dd>
        </dl>
      </div>
    </div>
  <% @product.reviews.each do |review|%>
    <div class="review">
      <dt>Rating</dt>
      <dd><%= review.rating%></dd>
      <dt>Description</dt>
      <dd><%= review.description%></dd>
      <dt>By User_id</dt>
      <dd><%= review.user_id%></dd>
    </div>
  <%end%>
  </article>

</section>
