<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <% total_rating = 0%>
      <% @product.reviews.each do |review|%>
        <% total_rating += review.rating%>
      <%end%>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
          <dt>Overall rating</dt>
          <%if(@product.reviews.length === 0)%>
            <dd>Not yet rated</dd>
          <%else%>
            <dd><%= total_rating/@product.reviews.length.to_f %>/5</dd>
          <%end%>
        </dl>
      </div>
    </div>
  </article>
  <% if current_user%>
    <%= form_for([@product, @review]) do |form|%>
    <div class="review-head">Post a Review</div>
    <div class='review-form'>
      <div class="field">
        <%= form.text_area(:description, {id: :description}) %>
      </div>

      <div class="field">
        <%= form.label(:rating) %>
        <%= form.select(:rating, [["1",1],["2",2],["3",3],["4",4],["5",5]]) %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
    </div>
    <%end%>
  <%end%>
  <% if @product.reviews.length != 0%>
    <h3 class="user-reviews">User reviews</h3>
  <% end %>
  <% @product.reviews.reverse_each do |review|%>
    <div class="review">
  
      <p class="rating">Rating: <%= review.rating%>/5</p>
      <p class="userid">By User: <%= review.user.name%></p>
      <p class="review-description">Description</p>
      <p><%= review.description%></p>
      <%if current_user == review.user%> 
      <%= link_to 'Delete', review_path(review.id), method: :delete, class: "button" %>
      <%end%> 
    </div>
  <%end%>

</section>
